<div class="text-center" style="margin: 40px">
  <div class="back-to-top">
    <a href="#lp-top">
      <div id="arrow-down">
        <%= image_tag "arrow-circle-up-solid.svg", alt: "alttext" %>
      </div>
    </a>
  </div>
</div>
