<%= course.name %>
<div class="detail-box">
  <div class="details-text">
    <p>DETAILS / TAGLINE</p>
  </div>
  <div class="detail-arrow-right">
    <i class="fas fa-chevron-right"></i>
  </div>
</div>
