<div class="instructor-details">
  <h5 class="instructor-name"><%= instructor.name %></h5>
  <h5><%= instructor.location %></h5>
  <%= mail_to instructor.contact.to_plain_text, class: "mailto-link" do %>
    <i class="fas fa-envelope"></i>
  <% end %>
</div>

