<div class="navbar-container">
  <ul>
    <li class="nav-link">
      <a id="home" href="<%= home_path %>">Home</a>

    </li>
    <li class="nav-link">
      <a id="about" href="<%= about_path %>">About Us</a>

    </li>
    <li class="nav-link">
      <a id="courses" href="<%= courses_path %>">Kurse</a>

    </li>
    <li class="nav-link">
      <a id="instructors" href="<%= instructors_path %>">Instruktoren</a>

    </li>
  </ul>
</div>
