<div class="general-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path 'trimix-2.jpg'%>)"></div>
<div class="trapezoid">
  <div class="banner-container">
    <h2 class="general-banner-header">Willkommen auf den Seiten der European Technical Dive Organization.</h2>
    <p class="general-banner-text">Im Tauchsport gibt es inzwischen eine große Anzahl an ambitionierten Sporttaucher und Sporttaucherinnen, die sich für das technische Tauchen interessieren. Unsere Instruktoren bilden seit vielen Jahren in verschiedenen Bereichen des Sport- und des technischen Tauchens aus und freuen sich, ihre Erfahrungen weitergeben zu können.</p>
  </div>
</div>
