  <div id="lp-top">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path 'change-oxygen.jpg'%>)">

      <div class="d-flex justify-content-center">
        <div class="general-container">
          <div class="dict-froffy">
            <h1>Froff, Froffy</h1>
            <p>| ˈfrɒff | ˈfrɒffie |</p>
            <p>noun INFORMAL, DEROGATORY</p>
            <p>plural noun: froffies</p>
            <p><em>Sean: Oi cobber, keen to knock the froff off a couple this arvy?<br>
            Steve: Sure am mate.</em></p>
          </div>

          <div id="banner-slogan">
            <h1><em>Enjoy your froff-tail the way you should...</em></h1>
            <br>
            <h1><em><div id="typing" class="typing"></div></em></h1>
            <br>
          </div>
        </div>
      </div>
      <a href="#search-results">
        <div id="arrow-down">
          <%= image_tag "arrow-circle-down-solid.svg", alt: "alttext" %>
        </div>
      </a>
    </div>
  </div>
