<div class="general-container">
  <div class="header">
    <h1>Impressum</h1>
  </div>
  <div class="paragraph">
    <h5>ETDO</h5>
    <h5>Peter Heidemann</h5>
    <h5>Döringstrasse 4</h5>
    <h5>10245 Berlin</h5>
    <br>
    <br>
    <a href="mailto:info@etdo" target="_blank">
      <i class="fas fa-envelope"></i>
    </a>
    <h5>info@etdo.de</h5>

  </div>
</div>

