.general-banner {
  background-size: cover;
  background-position: center;
  height: 275px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .general-banner {
    ;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .general-banner {
    ;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .general-banner {
    height: -100%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .general-banner {
    ;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .general-banner {
    ;
  }
}

@media (min-width: 1600px) {
  .general-banner {
    ;
  }
}

@media (min-width: 1900px) {
  .general-banner {
    ;
  }
}
