.header {
  text-align: center;
  margin: 70px 20px;
  h1, h2 {
    color: #221B40;
    font-weight: bold;
  }
}

.header-5 {
  text-align: center;
  margin: 70px 20px 20px 20px;
  h5 {
    color: #221B40;
    font-weight: bold;
  }
}

.paragraph p {
  text-align: center;
  margin: auto;
  max-width: 1200px;
}
