.general-banner {
  background-size: cover;
  background-position: center;
  height: 275px;
}

.general-banner-header {
  top: 50px;
  color: black;
  font-size: 28px;
  font-weight: bold;
  padding: 40px 20px 20px 20px;
}

.general-banner-text {
  top: 50px;
  color: black;
  padding: 20px 20px 40px 20px;
  margin: 0;
}

.trapezoid {
  background: #F9DB4B;
}



