.general-banner {
  background-size: cover;
  background-position: center;
  height: 275px;
}

.general-banner-header {
  top: 50px;
  color: white;
  font-size: 28px;
  padding: 40px 20px 20px 20px;
}

.general-banner-text {
  top: 50px;
  color: white;
  padding: 20px 20px 40px 20px;
  margin: 0;
}

.trapezoid {
  background: #f40e01;
}



